doctype html
html
    head
        title mathGame
        link(rel='stylesheet', href='/css/styling2.css')
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body.container
        header.header
            h1 #{headerContent}
        aside.sidespace
        div.maincontent
            h4 billie Eilish is really cool
        aside.sidebar
            h4 my sister is just like her
        aside.sidespace
        article.twin1
            h4 when my sister is famous she will be exactly that
        article.twin2
            h4 maybe this is my sister's fanclub
        aside.sidespace2
        footer.footer
            h1 #{footerContent}